In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
from pybaseball import lahman
lahman.download_lahman()
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib notebook
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf
from urllib.request import urlopen
from bs4 import BeautifulSoup
import time

In [2]:
data = pd.read_csv("MLBTheShowData.csv")
player_name = data['players']
player_id = data['id']

In [3]:
def scrape_players(player_id, player_name):
    url = "https://theshownation.com/mlb20/items/" + str(player_id)
    print(url)
    html = urlopen(url)
    bs = BeautifulSoup(html.read(), 'lxml')
    tables = bs.find_all("table",{"id":"table-trends"})
    stats_tables = pd.read_html(str(tables))
    
    price_stats = pd.DataFrame(stats_tables[0][:-6])
    price_stats['Player'] = player_name
    return(price_stats)

scrape_players("60aaa330b5aff236a9de5acf769faf38", "Mike Trout")

https://theshownation.com/mlb20/items/60aaa330b5aff236a9de5acf769faf38

    Date  Buy Now Price  Sell Now Price      Player
0   4/22         284000          270949  Mike Trout
1   4/21         291499          277104  Mike Trout
2   4/20         290000          279699  Mike Trout
3   4/19         291999          281006  Mike Trout
4   4/18         298800          281000  Mike Trout
5   4/17         284925          274052  Mike Trout
6   4/16         294248          273000  Mike Trout
7   4/15         279498          270000  Mike Trout
8   4/14         275000          263501  Mike Trout
9   4/13         283989          262000  Mike Trout
10  4/12         261500          250002  Mike Trout
11  4/11         254998          240000  Mike Trout
12  4/10         247850          235100  Mike Trout
13  4/09         259999          250000  Mike Trout
14  4/08         254750          241001  Mike Trout
15  4/07         247500          243093  Mike Trout
16  4/06         252895          240000  Mike Trout
17  4/05         250000          239001  Mike Trout
18  4/04         243554          233805  Mike Trout
19  4/03         257777          232000  Mike Trout
20  4/02         246500          234000  Mike Trout
21  4/01         241990          223000  Mike Trout
22  3/31         235994          221000  Mike Trout
23  3/30         233331          225501  Mike Trout
24  3/29         249500          229765  Mike Trout
25  3/28         239398          222000  Mike Trout
26  3/27         229450          218503  Mike Trout
27  3/26         235000          215006  Mike Trout
28  3/25         220000          215000  Mike Trout
29  3/24         228000          208000  Mike Trout
30  3/23         232995          212000  Mike Trout
31  3/22         229227          220000  Mike Trout
32  3/21         239999          222058  Mike Trout
33  3/20         214845          205007  Mike Trout
34  3/19         217500          202540  Mike Trout
35  3/18         219000          212000  Mike Trout

In [4]:
total_price_stats = pd.DataFrame()
for i in range(player_id.size):
    current_player_id = player_id[i]
    current_player_name = player_name[i]
    html = urlopen('https://theshownation.com/mlb20/items/' + str(current_player_id))
    bs = BeautifulSoup(html.read(), 'lxml')
    price_stats = \
    scrape_players(current_player_id, current_player_name)
    total_price_stats = pd.concat([total_price_stats, price_stats])
    time.sleep(np.random.uniform(1,3))
total_price_stats.to_csv('total_price_stats.csv')

https://theshownation.com/mlb20/items/60aaa330b5aff236a9de5acf769faf38
https://theshownation.com/mlb20/items/89a91ae5c1052557adb140f0cca9f0d0
https://theshownation.com/mlb20/items/5d4d8d1f8cd41d42cc375dc05d9830fa
https://theshownation.com/mlb20/items/0878794aeceb5eb52bdbe43c6bfb3009
https://theshownation.com/mlb20/items/1d6f9ad9c60c2f65d59a06c1f56e75bd
https://theshownation.com/mlb20/items/0dc37dbfb671e83342895a9ffc8fed89
https://theshownation.com/mlb20/items/20bf15daea22c05f7a212b9883b90376
https://theshownation.com/mlb20/items/a83304491a44720e81aac47511de0d02
https://theshownation.com/mlb20/items/162189379bf561d89b6e49eec7722032
https://theshownation.com/mlb20/items/3c13b54db21952663b5775d142be0ed2
https://theshownation.com/mlb20/items/e8733aec05577f4bf1c57c03d3bba997
https://theshownation.com/mlb20/items/755b062d4e111cc0e3a7d9b0a70802db
https://theshownation.com/mlb20/items/f410c50342ffdcfe68cc45b1c41a3d9a
https://theshownation.com/mlb20/items/60803ea798a0c0dfb7f36397d8d4d772
https://theshownation.com/mlb20/items/79b19f8c7ce5e7b42f625fd97dab070a
https://theshownation.com/mlb20/items/5914052cda144ede98a65e45a3cf45ca
https://theshownation.com/mlb20/items/5aa14e8d74a1e146fa26f5def723032d
https://theshownation.com/mlb20/items/8f4de6d2564ae131229797ddb7e27e6a
https://theshownation.com/mlb20/items/5ac93bfefcaa86acb77acbefd55d659a
https://theshownation.com/mlb20/items/7482d965e9c3156079b7ea6423fd41fa
https://theshownation.com/mlb20/items/a71f97cfb540d289ad80557514d93750
https://theshownation.com/mlb20/items/01409f7f7f2bd5ec0c1755b362e9db6e
https://theshownation.com/mlb20/items/03913ebcddec5a611af9181e3b590782
https://theshownation.com/mlb20/items/da032cb86f307ca2b97dd05275947650
https://theshownation.com/mlb20/items/2d968cb99817ea5e49f4bcb70f7f154a
https://theshownation.com/mlb20/items/d334c7dfa96b5fd5cc4f23e76e8b4166
https://theshownation.com/mlb20/items/a82596c6fd3ed643b18a2a942eb6ddc9
https://theshownation.com/mlb20/items/d2ab1b817736bf790ca530b6bd705c5a
https://theshownation.com/mlb20/items/78afc2595242c90f511a52ced9dec893
https://theshownation.com/mlb20/items/206672b04052ae9463b2a1d3be5f5df5
https://theshownation.com/mlb20/items/c6e986623dc64e92d943aa147603ad49
https://theshownation.com/mlb20/items/eee6248eb5d8e957d79ab187cf13168f
https://theshownation.com/mlb20/items/bbf2aa53a06531cd2da66f110f0752a4
https://theshownation.com/mlb20/items/b5372c821691eff5fb470f33af079a64